body {
  background-image: url('graphics/autumn.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.intro, #explain {
  font-family: Georgia, serif;
  font-size: 20px;
  text-align: center;
  margin: 0px 130px;
  line-height: 1.6
}

.wood, .pLearnButton, .pSlipButton, .pGuessButton, .answerChoice {
  background-image: url('graphics/wood.jpg');
  cursor: pointer;
  font-family: Apple Chancery, cursive;
  font-size: 23px;
  margin: 0px 3px;
}

#pKnow, #chances {
  font-weight: bolder;
  display:inline-block;
  background-color: #ffbe00;
  padding: 5px;
  border: 3px solid black
}

.col {
  display: flex;
  border-top: 2px solid black;
}

span.long {
  display: none;
}

.col:hover span.short {
  display: none
}
.col:hover span.long {
  display: inline-block;
}
