body {
  background-image: url('graphics/autumn.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.intro {
  font-family: Georgia, serif;
  font-size: 20px;
  text-align: center;
  margin: 0px 120px;
  line-height: 1.6
}


.wood, .pLearnButton, .pSlipButton, .pGuessButton, .answerChoice {
  background-image: url('graphics/wood.jpg');
  cursor: pointer;
  font-family: Apple Chancery, cursive;
  font-size: 20px;
}
